.filter {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #cac7c7;
  border-bottom: 1px solid #cac7c7;
  padding: 21px 64px;
  align-items: center;
}

.filter div {
  display: flex;
}

.filter div .checkbox {
  border-bottom: 1px solid #c8c8c8;
  margin-right: 33px;
}

.filter div .checkbox label {
  font-family: Helvetica-Nue;
  font-size: 16px;
  font-size: 0.8rem;
  color: #002b56;
  letter-spacing: 1px;
  line-height: 16px;
}

.filter div span {
  margin-right: 24px;
  font-family: Helvetica-Nue;
  font-size: 16px;
  font-size: 0.8rem;
  color: #606060;
  letter-spacing: 1px;
  line-height: 24px;
}

.filter div select {
  margin-right: 33px;
  font-family: Helvetica-Nue;
  font-size: 16px;
  font-size: 0.8rem;
  color: #002b56;
  letter-spacing: 1px;
  line-height: 16px;

  background: #fff;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1px solid #c8c8c8;;
}

.filter div select option {
  padding: 11px 16px 19px;
}


.filter div #open {
  margin-right: 8px;
}

.filter div label[for='open'] {
  font-family: Helvetica-Nue;
  font-size: 16px;
  font-size: 0.8rem;
  color: #002b56;
  letter-spacing: 1px;
  line-height: 16px;
  cursor: pointer;
}

.dropdown,
.dropdownPrice {
  position: relative;
  display: inline-block;
  text-transform: capitalize;

  padding: 0px 95px 10px 0px;
  border-bottom: 1px solid #c8c8c8;
  margin-left: 32px;

  font-family: Helvetica-Nue;
  font-size: 16px;
  font-size: 0.8rem;
  color: #002b56;
  letter-spacing: 1px;
  line-height: 16px;
}

.dropdown,
.dropdownPrice:hover {
  cursor: pointer;
}

.dropdown-content {
  visibility: hidden;
  position: absolute;
  background: #fff;
  width: 100%;
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
  padding: 16px 0px 19px;
  margin-top: 35px;
  z-index: 1;
}

.dropdown-contentPrice {
  visibility: hidden;
  display: none;
  position: absolute;
  background: #fff;
  width: 100%;
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.2);
  padding: 16px 0px 19px;
  margin-top: 35px;
  z-index: 1;
}

.dropdown-content button {
  display: flex;
  border: none;
  font-family: Helvetica-Nue;
  font-size: 16px;
  font-size: 0.8rem;
  color: #000;
  letter-spacing: 0.5px;
  line-height: 24px;
  background-color: #fff;
  padding: 10px 16px;
  transition: background-color 0.3s linear, color 0.3s linear;
}

.dropdown-contentPrice button {
  display: flex;
  border: none;
  font-family: Helvetica-Nue;
  font-size: 16px;
  font-size: 0.8rem;
  color: #000;
  letter-spacing: 0.5px;
  line-height: 24px;
  background-color: #fff;
  padding: 10px 16px;
  transition: background-color 0.3s linear, color 0.3s linear;
}

.dropdown-content button:hover {
  background-color: #002b56;
  color: #fff;
}

.dropdown-contentPrice button:hover {
  background-color: #002b56;
  color: #fff;
}


.dropdown:hover .dropdown-content {
  visibility: visible;
  display: flex;
  flex-direction: column;
}

.dropdownPrice:hover .dropdown-contentPrice {
  visibility: visible;
  display: flex;
  flex-direction: column;
}

